body {
    padding-top: 20px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .container-narrow {
        max-width: 730px;
    }
}

#mainMap {
    /* width: 800px; */
    height: 600px;
}

.time-label {
    height: 40px;
    width: 80px;
}

.inline-box {
	display: inline-block;
	width: 127px;
	height: 30px;
	opacity: 0.67;
}

.scale-text {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}